<div class="container-fluid">
    <div class="row">
        <h2> Hard & Soft skill</h2>
         <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
            <circle-progress 
                [percent]="80"
                [title]="'<HTML>'"
                [titleFontSize]="'30px'" 
                [titleColor]="'#CC5302'" 
                [titleFontWeight]="'bold'"
                [showSubtitle]="false" 
                [showUnits]="false" 
                [radius]="100" 
                [outerStrokeWidth]="16" 
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#FF6803'" 
                [innerStrokeColor]="'#696969'" 
                [animation]="true"
                [animationDuration]="800">
            </circle-progress>
        </div>
         <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
            <circle-progress
                [percent]="70"
                [title]="'CSS{}'"
                [titleFontSize]="'30px'" 
                [titleColor]="'#0269FC'" 
                [titleFontWeight]="'bold'"
                [showSubtitle]="false" 
                [showUnits]="false" 
                [radius]="100" 
                [outerStrokeWidth]="16" 
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#0269FC'" 
                [innerStrokeColor]="'#696969'" 
                [animation]="true"
                [animationDuration]="800">
            </circle-progress>
        </div>
       <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
            <circle-progress
                [percent]="60"
                [title]="'JS()'"
                [titleFontSize]="'30px'" 
                [titleColor]="'yellow'"
                [titleFontWeight]="'bold'"
                [showSubtitle]="false" 
                [showUnits]="false" 
                [radius]="100" 
                [outerStrokeWidth]="16" 
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#C5CC00'" 
                [innerStrokeColor]="'#696969'" 
                [animation]="true"
                [animationDuration]="800">
            </circle-progress>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
            <circle-progress
                [percent]="75"
                [title]="'<?PHP'"
                [titleFontSize]="'30px'" 
                [titleColor]="'#8963CC'" 
                [titleFontWeight]="'bold'"
                [showSubtitle]="false" 
                [showUnits]="false" 
                [radius]="100" 
                [outerStrokeWidth]="16" 
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#8963CC'" 
                [innerStrokeColor]="'#696969'" 
                [animation]="true"
                [animationDuration]="800">
            </circle-progress>
        </div>

    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
            <circle-progress
                [percent]="75"
                [title]="'PSeInt'"
                [titleFontSize]="'30px'" 
                [titleColor]="'#F0E784'" 
                [titleFontWeight]="'bold'"
                [showSubtitle]="false" 
                [showUnits]="false" 
                [radius]="100" 
                [outerStrokeWidth]="16" 
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#FFF58C'" 
                [innerStrokeColor]="'#696969'" 
                [animation]="true"
                [animationDuration]="800">
            </circle-progress>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
            <circle-progress
                [percent]="10"
                [title]="'Java'"
                [titleFontSize]="'30px'" 
                [titleColor]="'red'" 
                [titleFontWeight]="'bold'"
                [showSubtitle]="false" 
                [showUnits]="false" 
                [radius]="100" 
                [outerStrokeWidth]="16" 
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'white'" 
                [innerStrokeColor]="'#696969'" 
                [animation]="true"
                [animationDuration]="800">
            </circle-progress>
        </div>
        
       
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
            <circle-progress
                [percent]="20"
                [title]="'Angular'"
                [titleFontSize]="'30px'" 
                [titleColor]="'#C20003'" 
                [titleFontWeight]="'bold'"
                [showSubtitle]="false" 
                [showUnits]="false" 
                [radius]="100" 
                [outerStrokeWidth]="16" 
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#FF0004'" 
                [innerStrokeColor]="'#696969'" 
                [animation]="true"
                [animationDuration]="800">
            </circle-progress>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
            <circle-progress
                [percent]="60"
                [title]="'Bootstrap'"
                [titleFontSize]="'30px'" 
                [titleColor]="'#9C07FF'" 
                [titleFontWeight]="'bold'"
                [showSubtitle]="false" 
                [showUnits]="false" 
                [radius]="100" 
                [outerStrokeWidth]="16" 
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#9C07FF'" 
                [innerStrokeColor]="'#696969'" 
                [animation]="true"
                [animationDuration]="800">
            </circle-progress>
        </div>

    </div>
    <div class="row">

        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
            <circle-progress
                [percent]="10"
                [title]="'TS'"
                [titleFontSize]="'30px'" 
                [titleColor]="'#03AAD1'" 
                [titleFontWeight]="'bold'"
                [showSubtitle]="false" 
                [showUnits]="false" 
                [radius]="100" 
                [outerStrokeWidth]="16" 
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#04C3F0'" 
                [innerStrokeColor]="'#696969'" 
                [animation]="true"
                [animationDuration]="800">
            </circle-progress>
        </div>
        
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
            <circle-progress
                [percent]="25"
                [title]="'Git'"
                [titleFontSize]="'30px'" 
                [titleColor]="'#4D4D4D'" 
                [titleFontWeight]="'bold'"
                [showSubtitle]="false" 
                [showUnits]="false" 
                [radius]="100" 
                [outerStrokeWidth]="16" 
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#FF4800'" 
                [innerStrokeColor]="'#696969'" 
                [animation]="true"
                [animationDuration]="800">
            </circle-progress>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
            <circle-progress
                [percent]="40"
                [title]="'GitHub'"
                [titleFontSize]="'30px'" 
                [titleColor]="'#0A8700'" 
                [titleFontWeight]="'bold'"
                [showSubtitle]="false" 
                [showUnits]="false" 
                [radius]="100" 
                [outerStrokeWidth]="16" 
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#0A8700'" 
                [innerStrokeColor]="'#696969'" 
                [animation]="true"
                [animationDuration]="800">
            </circle-progress>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
            <circle-progress
                [percent]="5"
                [title]="'Scrum'"
                [titleFontSize]="'30px'" 
                [titleColor]="'#4D4D4D'" 
                [titleFontWeight]="'bold'"
                [showSubtitle]="false" 
                [showUnits]="false" 
                [radius]="100" 
                [outerStrokeWidth]="16" 
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#4D4D4D'" 
                [innerStrokeColor]="'#696969'" 
                [animation]="true"
                [animationDuration]="800">
            </circle-progress>
        </div>

    </div>
</div>