<div class="container-fluid">

    <div class="row">
        <h2>Proyectos Realizados</h2>
        <div class="cotenedor">
            <div class="col-sm-12 col-md-12 col-lg-7 parte1">
                <h3>
                    Encriptador
                </h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet perspiciatis cum delectus eligendi
                    facere quidem, facilis dolorem, quaerat numquam vel placeat ducimus labore pariatur fugiat
                    dignissimos voluptas nemo ex autem.
                </p>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-3 offset-lg-1 parte2">
                <img src="../../../assets/img/Captura de pantalla (2).png" class="img-fluid img-proyecto" alt="">
            </div>
        </div>
    </div>

</div>