<div class="container-fluid">
    <div class="row">
        <h1>Educacion</h1>
        <div class="col-lg-11">
            <ul>
                <li>
                    <h2>Estudio N° 1</h2> -
                    <h3>(year)</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum beatae maxime aspernatur possimus cum ipsam
                        perferendis placeat, a eum eius commodi, natus, quia temporibus? Quod, quae itaque! Eligendi, cumque qui!
                    </p>
                </li>
                <li>
                    <h2>Estudio N° 2</h2> -
                    <h3>(year)</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum beatae maxime aspernatur possimus cum ipsam
                        perferendis placeat, a eum eius commodi, natus, quia temporibus? Quod, quae itaque! Eligendi, cumque qui!
                    </p>
                </li>
                <li>
                    <h2>Estudio N° 3</h2> -
                    <h3>(year)</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum beatae maxime aspernatur possimus cum ipsam
                        perferendis placeat, a eum eius commodi, natus, quia temporibus? Quod, quae itaque! Eligendi, cumque qui!
                    </p>
                </li>
            </ul>
        </div>
    </div>
</div>
